<table class="table">
    <thead>
      <tr>
        <th scope="col">Employee Name</th>
        <th scope="col">Employee Code</th>
        <th scope="col"> Designation</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>Ceo</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Jacob</td>
        <td>Thornton</td>
        <td>Traine</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td colspan="2">Larry the Bird</td>
        <td>Team Leader</td>
      </tr>
      <tr>
        <th scope="row">4</th>
        <td colspan="2">Jude</td>
        <td>HR</td>
      </tr>
      <tr>
        <th scope="row">5</th>
        <td colspan="2">Martin</td>
        <td>Devops</td>
      </tr>
      <tr>
        <th scope="row">6</th>
        <td colspan="2">Henry</td>
        <td>HR</td>
      </tr>
      <tr>
        <th scope="row">7</th>
        <td colspan="2">Amarnath</td>
        <td>Traine</td>
      </tr>
      <tr>
        <th scope="row">8</th>
        <td colspan="2">Sam</td>
        <td>Testing</td>
      </tr>
      <tr>
        <th scope="row">9</th>
        <td colspan="2">Jack</td>
        <td>Team Leader</td>
      </tr>
      <tr>
        <th scope="row">10</th>
        <td colspan="2">Lisa</td>
        <td>Ceo</td>
      </tr>

    </tbody>
  </table>